footer{
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px black;
    text-align: left;
}

.navigation h2{
    padding-left: 2.3rem;
}

.navigation ul{
    list-style: none;
}

.navigation a{
    text-decoration: none;
    font-size: 1rem;
    font-family:sans-serif;
    color: #000000;
    text-align: left;
   
}

.contact p{
    padding: 0;
    margin: 0;
    
}

.socialmedia ul{
    list-style: none;
}

.socialmedia li{
    margin-bottom: 3px;
}